@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

input:focus {
  outline: none;
}

.container {
  max-width: 1320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.container-sm {
  max-width: 1064px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: "Roboto Condensed";
}

header {
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #000;
}
header .container .navbar {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .navbar .navbar__link__logo {
  display: flex;
  align-items: center;
}
@media (max-width: 600px) {
  header .container .navbar .navbar__link__logo img {
    width: 100%;
  }
}
header .container .navbar .navbar__link__logo .navbar__link {
  display: flex;
  margin-left: 130px;
  gap: 48px;
}
@media (max-width: 700px) {
  header .container .navbar .navbar__link__logo .navbar__link {
    display: none;
  }
}
header .container .navbar .navbar__link__logo .navbar__link li {
  display: flex;
  cursor: pointer;
  position: relative;
}
header .container .navbar .navbar__link__logo .navbar__link li::after {
  content: "";
  width: 100%;
  height: 3px;
  background: #ffd2a4;
  border-radius: 10%;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: center;
  position: absolute;
  left: 0;
  bottom: -10px;
}
header .container .navbar .navbar__link__logo .navbar__link li:hover::after {
  transform: scaleX(1);
  transform-origin: center;
  width: 100%;
}
header .container .navbar .navbar__link__logo .navbar__link a {
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.9;
}
header .container .navbar .navbar__btn {
  padding: 24px 64px;
  border-radius: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  background-color: #ffd2a4;
  color: #1c1d28;
  font-size: "Roboto Condensed";
}
header .container .navbar .navbar__btn:hover {
  background: #f2c79b;
}
@media (max-width: 900px) {
  header .container .navbar .navbar__btn {
    display: none;
  }
}
header button {
  display: none;
  background: transparent;
  border: none;
  color: #beaca6;
  font-size: 45px;
}
@media (max-width: 800px) {
  header button {
    display: block;
  }
}

.about-container {
  max-width: 1340px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.about-hero {
  background-image: url(/images/about-us/aboutusheroimg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.about-hero .about-hero__container {
  display: flex;
  flex-direction: column;
}
.about-hero .about-hero__container .about-hero__subtext {
  margin-top: 160px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #161722;
}
.about-hero .about-hero__container .about-hero__title {
  margin-top: 16px;
  margin-bottom: 150px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
}
@media (max-width: 200px) {
  .about-hero .about-hero__container .about-hero__title {
    font-size: 30px;
  }
}

.about-love {
  padding-top: 100px;
  padding-bottom: 128px;
}
.about-love .about-love__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-love .about-love__container .about-love__subtext {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #161722;
}
.about-love .about-love__container .about-love__title {
  margin-top: 16px;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
}
.about-love .about-love__container .about-love__text {
  margin-bottom: 112px;
  width: 768px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #161722;
  opacity: 0.78;
}
@media (max-width: 820px) {
  .about-love .about-love__container .about-love__text {
    width: 100%;
  }
}
.about-love .about-love__container .about-love__images {
  margin-bottom: 128px;
}
.about-love .about-love__container .about-love__images img {
  margin-right: 24px;
  transition: 1s;
}
@media (max-width: 410px) {
  .about-love .about-love__container .about-love__images img {
    width: 100%;
  }
}
.about-love .about-love__container .about-love__images img:hover {
  transform: scale(1.3);
}
@media (max-width: 410px) {
  .about-love .about-love__container .about-love__images img:hover {
    transform: none;
  }
}
.about-love .about-love__container .about-love__images #about-love__img1 {
  width: 293px;
  height: 384px;
  border-radius: 30px;
}
.about-love .about-love__container .about-love__images #about-love__img1:hover {
  transform: scale(1.3);
}
@media (max-width: 410px) {
  .about-love .about-love__container .about-love__images #about-love__img1:hover {
    transform: none;
  }
}
.about-love .about-love__container .about-love__cards {
  display: flex;
  gap: 25px;
}
@media (max-width: 820px) {
  .about-love .about-love__container .about-love__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.about-love .about-love__container .about-love__cards .about-love__card {
  display: flex;
  flex-direction: column;
}
.about-love .about-love__container .about-love__cards .about-love__card .about-love__card__subtext {
  text-align: start;
}
.about-love .about-love__container .about-love__cards .about-love__card .about-love__card__title {
  width: 371px;
  margin-top: 16px;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 700;
  text-align: start;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
}
@media (max-width: 410px) {
  .about-love .about-love__container .about-love__cards .about-love__card .about-love__card__title {
    width: 100%;
  }
}
.about-love .about-love__container .about-love__cards .about-love__card .about-love__card__text {
  width: 372px;
  text-align: start;
}
@media (max-width: 410px) {
  .about-love .about-love__container .about-love__cards .about-love__card .about-love__card__text {
    width: 100%;
  }
}
.about-love .about-love__container .about-love__cards .about-love__card2 .about-love__card__subtext {
  text-align: start;
}
.about-love .about-love__container .about-love__cards .about-love__card2 .about-love__card__title {
  width: 371px;
  margin-top: 16px;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 700;
  text-align: start;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
}
@media (max-width: 410px) {
  .about-love .about-love__container .about-love__cards .about-love__card2 .about-love__card__title {
    width: 100%;
  }
}
.about-love .about-love__container .about-love__cards .about-love__card2 .about-love__card__text {
  width: 372px;
  text-align: start;
}
@media (max-width: 410px) {
  .about-love .about-love__container .about-love__cards .about-love__card2 .about-love__card__text {
    width: 100%;
  }
}

.about-benefits {
  padding-bottom: 32px;
}
.about-benefits .about-benefits__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-benefits .about-benefits__container .about-benefits__subtext {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  line-height: 24px;
  text-align: center;
  color: #161722;
}
.about-benefits .about-benefits__container .about-benefits__title {
  width: 432px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
}
.about-benefits .about-benefits__container .about_benefits__card1 {
  margin-bottom: 96px;
  margin-top: 64px;
  display: flex;
  align-items: center;
  gap: 24px;
}
@media (max-width: 1070px) {
  .about-benefits .about-benefits__container .about_benefits__card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 570px) {
  .about-benefits .about-benefits__container .about_benefits__card1 img {
    width: 100%;
  }
}
.about-benefits .about-benefits__container .about_benefits__card1 .about_benefits__card1__content {
  width: 500px;
}
.about-benefits .about-benefits__container .about_benefits__card1 .about_benefits__card1__content .about_benefits__card1__title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
}
.about-benefits .about-benefits__container .about_benefits__card1 .about_benefits__card1__content .about_benefits__card1__text {
  margin-top: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #161722;
  opacity: 0.78;
}
.about-benefits .about-benefits__container .about_benefits__card2 {
  margin-bottom: 96px;
  margin-top: 64px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 48px;
}
@media (max-width: 1070px) {
  .about-benefits .about-benefits__container .about_benefits__card2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 570px) {
  .about-benefits .about-benefits__container .about_benefits__card2 img {
    width: 100%;
  }
}
.about-benefits .about-benefits__container .about_benefits__card2 .about_benefits__card1__content {
  width: 500px;
}
.about-benefits .about-benefits__container .about_benefits__card2 .about_benefits__card1__content .about_benefits__card1__title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
}
.about-benefits .about-benefits__container .about_benefits__card2 .about_benefits__card1__content .about_benefits__card1__text {
  margin-top: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #161722;
  opacity: 0.78;
}
.about-benefits .about-benefits__container .about_benefits__card3 {
  margin-bottom: 96px;
  margin-top: 64px;
  display: flex;
  align-items: center;
  gap: 24px;
}
@media (max-width: 1070px) {
  .about-benefits .about-benefits__container .about_benefits__card3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 570px) {
  .about-benefits .about-benefits__container .about_benefits__card3 img {
    width: 100%;
  }
}
.about-benefits .about-benefits__container .about_benefits__card3 .about_benefits__card1__content {
  width: 500px;
}
.about-benefits .about-benefits__container .about_benefits__card3 .about_benefits__card1__content .about_benefits__card1__title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
}
.about-benefits .about-benefits__container .about_benefits__card3 .about_benefits__card1__content .about_benefits__card1__text {
  margin-top: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #161722;
  opacity: 0.78;
}
.about-benefits .about-benefits__container .about_benefits__card4 {
  margin-bottom: 96px;
  margin-top: 64px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 48px;
}
@media (max-width: 1070px) {
  .about-benefits .about-benefits__container .about_benefits__card4 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 570px) {
  .about-benefits .about-benefits__container .about_benefits__card4 img {
    width: 100%;
  }
}
.about-benefits .about-benefits__container .about_benefits__card4 .about_benefits__card1__content {
  width: 500px;
}
.about-benefits .about-benefits__container .about_benefits__card4 .about_benefits__card1__content .about_benefits__card1__title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
}
.about-benefits .about-benefits__container .about_benefits__card4 .about_benefits__card1__content .about_benefits__card1__text {
  margin-top: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #161722;
  opacity: 0.78;
}

.about-team {
  padding-bottom: 128px;
}
.about-team .about-team__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-team .about-team__container .about-team__subtext {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #161722;
}
.about-team .about-team__container .about-team__title {
  margin-top: 16px;
  margin-bottom: 64px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
}
.about-team .about-team__container .about-team__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}
@media (max-width: 1300px) {
  .about-team .about-team__container .about-team__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}
@media (max-width: 1000px) {
  .about-team .about-team__container .about-team__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
}
@media (max-width: 660px) {
  .about-team .about-team__container .about-team__cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
  }
}
.about-team .about-team__container .about-team__cards .about-team__card {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 75px;
  width: 302px;
  height: 366px;
  background: #F5F2F0;
  transition: 2s;
}
.about-team .about-team__container .about-team__cards .about-team__card .about-team__card__title {
  margin-top: 26px;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
}
.about-team .about-team__container .about-team__cards .about-team__card .about-team__card__info {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #161722;
  opacity: 0.7;
}
.about-team .about-team__container .about-team__cards .about-team__card .about-team__card__icons {
  display: flex;
  gap: 20px;
}
.about-team .about-team__container .about-team__cards .about-team__card:hover .about-team__card__hover {
  transition: 1s;
  top: 220px;
}
.about-team .about-team__container .about-team__cards .about-team__card .about-team__card__mainimg {
  transition: 1.5s;
}
.about-team .about-team__container .about-team__cards .about-team__card .about-team__card__mainimg:hover {
  transform: rotate(360deg);
}

.footer {
  background: #000;
}
.footer .footer__container {
  display: flex;
  justify-content: space-between;
  padding-top: 64px;
}
@media (max-width: 1150px) {
  .footer .footer__container {
    flex-wrap: wrap;
  }
}
.footer .footer__container .footer__left h5 {
  padding-top: 27px;
  padding-bottom: 32px;
  font-family: "Roboto Condensed";
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
}
.footer .footer__container .footer__left address {
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: "Roboto Condensed";
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
}
.footer .footer__container .footer__left a {
  font-family: "Roboto Condensed";
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
}
.footer .footer__container .footer__center {
  display: flex;
  flex-direction: column;
}
.footer .footer__container .footer__center h5 {
  padding-top: 10px;
  font-family: "Roboto Condensed";
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #ffffff;
}
.footer .footer__container .footer__center a {
  margin-top: 24px;
  font-family: "Roboto Condensed";
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.78;
}
.footer .footer__container .footer__connect h5 {
  padding-top: 10px;
  margin-bottom: 20px;
  font-family: "Roboto Condensed";
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.footer .footer__container .footer__connect a {
  margin-right: 20px;
  color: #ffd2a4;
  transition: 0.5s;
}
.footer .footer__container .footer__connect a i {
  transition: 0.5s;
}
.footer .footer__container .footer__connect a i:hover {
  transform: scale(1.9);
}
.footer .footer__container .footer__right h3 {
  max-width: 377px;
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #ffffff;
}
@media (max-width: 600px) {
  .footer .footer__container .footer__right h3 {
    max-width: 250px;
    text-align: left;
    margin: 0;
    font-size: 20px;
  }
}
.footer .footer__container .footer__right .footer__input {
  position: relative;
  padding-bottom: 64px;
}
.footer .footer__container .footer__right .footer__input input {
  padding: 10px;
  width: 512px;
  height: 64px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 12px;
  font-family: "Roboto Condensed";
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.8;
}
.footer .footer__container .footer__right .footer__input button {
  position: absolute;
  right: 0;
  padding: 22px 64px;
  background-color: #ffd2a4;
  border-radius: 12px;
  font-family: "Roboto Condensed";
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #1c1d28;
}
@media (max-width: 600px) {
  .footer .footer__container .footer__right .footer__input button {
    position: static;
    padding: 20px 30px;
    text-align: left;
    left: 0;
    bottom: 25px;
  }
}