* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

header {
  position: fixed;
  z-index: 1111;
  order: 1;
  width: 1400px;
  max-width: 100%;
}
header nav {
  background-color: rgb(13, 13, 13);
  margin-bottom: 80px;
}
@media (max-width: 1330px) {
  header nav nav {
    max-width: 1330px;
  }
  header nav nav .navbar {
    margin: auto;
  }
  header nav nav .navbar a.btn {
    margin-left: 0px;
  }
}
@media (max-width: 900px) {
  header nav .container .navbar a.btn {
    margin-left: -700px;
    margin-top: 100px;
    margin-bottom: 20px;
  }
  header nav .container .navbar ul {
    display: grid;
  }
}
header nav .container .navbar {
  display: flex;
}
header nav .container .navbar img {
  align-self: center;
  padding-top: 26px;
  padding-right: 66px;
}
header nav .container .navbar ul {
  display: flex;
  align-items: center;
  padding-left: 64px;
  border-left: 1px solid grey;
  height: 80px;
}
header nav .container .navbar ul li {
  padding-right: 48px;
}
header nav .container .navbar ul li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  opacity: 0.9;
}
header nav .container a.btn {
  padding: 20px 48px;
  background-color: rgb(255, 210, 164);
  margin-left: 420px;
  border-radius: 12px;
  align-self: center;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: black;
}

section {
  background: url(../contact/6liebVeAfrY.png);
  padding-top: 300px;
  height: 483px;
}
section .container p {
  padding-top: -160px;
  margin-top: -100px;
  text-transform: uppercase;
  margin-bottom: 16px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: rgb(255, 210, 164);
}
section .container h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: -1px;
  width: 465px;
  padding-bottom: 160px;
  text-transform: uppercase;
  color: white;
}

main {
  background-color: rgb(245, 242, 240);
}
@media (max-width: 1330px) {
  main .container {
    display: grid;
  }
  main .container .box {
    display: grid;
  }
}
@media (max-width: 1080px) {
  main {
    display: grid;
    display: flow-root;
    height: 1000px;
  }
  main .cube {
    position: relative;
    top: 500px;
    left: -700px;
  }
}
main .container {
  display: flex;
}
main .container .box {
  max-width: 624px;
  padding-top: 128px;
}
main .container .box p {
  text-transform: uppercase;
  letter-spacing: -1%;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: rgb(30, 27, 27);
  margin-bottom: 32px;
}
main .container .box label input {
  width: 624px;
  height: 64px;
  background-color: rgb(255, 255, 255);
  border: none;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgb(22, 23, 34);
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  margin-bottom: 12px;
  border-radius: 5px;
}
main .container .box label textarea {
  border-radius: 5px;
  width: 624px;
  height: 120px;
  background-color: white;
  border: none;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgb(22, 23, 34);
  padding-top: 24px;
  padding-left: 24px;
  padding-bottom: 72px;
  margin-bottom: 12px;
}
main .container .box button {
  padding-top: 24px;
  padding-bottom: 24px;
  width: 624px;
  border-radius: 5px;
  border: none;
  background-color: rgb(255, 210, 164);
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 128px;
}
main .container .cube {
  padding-top: 188px;
  padding-left: 128px;
}
main .container .cube p {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: rgb(30, 27, 27);
  margin-bottom: 8px;
}
main .container .cube h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: rgb(22, 23, 34);
  letter-spacing: -1%;
  text-transform: uppercase;
  width: 290px;
  margin-bottom: 32px;
}
main .container .cube .img img {
  margin-right: 32px;
}

footer {
  background-color: rgb(22, 23, 34);
}
footer .container {
  padding-top: 64px;
  display: flex;
}
@media (max-width: 1330px) {
  footer .container {
    display: grid;
  }
  footer .container ul {
    margin-left: 100px;
  }
  footer .container ul:nth-child(3) {
    margin-left: 240px;
  }
  footer .container ul.four {
    margin-left: 250px;
    position: relative;
    left: 240px;
  }
}
footer .container ul {
  padding-bottom: 72px;
  padding-right: 238px;
}
footer .container ul li {
  margin-bottom: 16px;
}
footer .container ul li:nth-child(2) p {
  margin-bottom: 32px;
}
footer .container ul img {
  margin-bottom: 27px;
}
footer .container ul p {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: white;
  text-transform: uppercase;
}
footer .container ul h6 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
}
footer .container ul:nth-child(2) li p {
  margin-bottom: 0px;
  padding-bottom: 20px;
  color: gray;
}
footer .container ul:nth-child(3) li {
  margin-left: -72px;
}
footer .container ul:nth-child(3) li h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
  margin-left: -72px;
}
footer .container ul:nth-child(4) li h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: white;
  text-transform: uppercase;
}