@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

input:focus {
  outline: none;
}

.container {
  max-width: 1320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.container-sm {
  max-width: 1064px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

header {
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #000;
}
header .container .navbar {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .navbar .navbar__link__logo {
  display: flex;
  align-items: center;
}
@media (max-width: 600px) {
  header .container .navbar .navbar__link__logo img {
    width: 100%;
  }
}
header .container .navbar .navbar__link__logo .navbar__link {
  display: flex;
  margin-left: 130px;
  gap: 48px;
}
@media (max-width: 700px) {
  header .container .navbar .navbar__link__logo .navbar__link {
    display: none;
  }
}
header .container .navbar .navbar__link__logo .navbar__link li {
  display: flex;
  cursor: pointer;
  position: relative;
}
header .container .navbar .navbar__link__logo .navbar__link li::after {
  content: "";
  width: 100%;
  height: 3px;
  background: #ffd2a4;
  border-radius: 10%;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: center;
  position: absolute;
  left: 0;
  bottom: -10px;
}
header .container .navbar .navbar__link__logo .navbar__link li:hover::after {
  transform: scaleX(1);
  transform-origin: center;
  width: 100%;
}
header .container .navbar .navbar__link__logo .navbar__link a {
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.9;
}
header .container .navbar .navbar__btn {
  padding: 24px 64px;
  border-radius: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  background-color: #ffd2a4;
  color: #1c1d28;
  font-size: "Roboto Condensed";
}
header .container .navbar .navbar__btn:hover {
  background: #f2c79b;
}
@media (max-width: 900px) {
  header .container .navbar .navbar__btn {
    display: none;
  }
}
header button {
  display: none;
  background: transparent;
  border: none;
  color: #beaca6;
  font-size: 45px;
}
@media (max-width: 800px) {
  header button {
    display: block;
  }
}
header .toogle__menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 40px;
  top: 30%;
  left: 50%;
}
header .toogle__menu .toogle0__link {
  color: var(--white, #fff);
  text-align: center;
  font-size: 35px;
  font-family: "Roboto Condensed";
  text-transform: uppercase;
  transition: 0.5s;
}
header .toogle__menu .toogle0__link:hover {
  padding-left: 20px;
  color: #dc9853;
  transform: scale(1.1) rotate(-6deg);
}

#navbar-responsive {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.628);
  transition: 0.5s;
}
#navbar-responsive button {
  position: absolute;
  top: 30px;
  right: 30px;
  background: transparent;
  border: none;
  color: #beaca6;
  font-size: 45px;
}

.scrolltop {
  position: fixed;
  bottom: 800px;
  right: 30px;
  width: 50px;
  height: 80px;
  background: rgb(248, 248, 248) url("../images/home/backtop.png") no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
  border-radius: 30%;
  box-shadow: 0 10px 15px #000000;
  z-index: 100000;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.scrolltop.active {
  bottom: 40px;
  visibility: visible;
  opacity: 1;
}

.home {
  background: url(../images/home/home-page.jpg) no-repeat;
  background-size: cover;
  background-position: center 80px;
}
.home .container h5 {
  text-align: left;
  padding-top: 178px;
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #fff;
}
.home .container h1 {
  margin-top: 16px;
  margin-bottom: 56px;
  max-width: 592px;
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 64px;
  line-height: 82px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width: 500px) {
  .home .container h1 {
    font-size: 35px;
  }
}
.home .container a {
  padding: 24px 64px;
  border-radius: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  background-color: #ffd2a4;
  color: #1c1d28;
  text-transform: uppercase;
}
.home .container a:hover {
  background: #f2c79b;
}
.home .container .home__content {
  margin-top: 88px;
  padding-bottom: 128px;
  display: flex;
  gap: 12px;
}
.home .container .home__content .home__border {
  margin-top: 12px;
  width: 18px;
  height: 2px;
  background-color: #ffd2a4;
}
.home .container .home__content p {
  max-width: 308px;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.relevant__wrapper h5 {
  margin-top: 128px;
  margin-bottom: 16px;
  font-family: "Roboto Condensed";
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #161722;
}
.relevant__wrapper h3 {
  margin-bottom: 64px;
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
}
.relevant__wrapper .relevant__box {
  margin-bottom: 128px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
@media (max-width: 1150px) {
  .relevant__wrapper .relevant__box {
    flex-wrap: wrap;
  }
}
.relevant__wrapper .relevant__box .relevant__box_content {
  padding: 80px;
  background: rgb(255, 245, 235);
  background: linear-gradient(180deg, rgb(255, 245, 235) 95%, rgb(255, 210, 164) 90%);
  transition: 0.5s;
}
.relevant__wrapper .relevant__box .relevant__box_content:hover {
  cursor: pointer;
  box-shadow: 0 -15px 10px 0 rgba(0, 0, 0, 0.2);
  transform: scale(0.9);
  z-index: 10;
}
.relevant__wrapper .relevant__box .relevant__box_content h3 {
  margin-top: 24px;
  margin-bottom: 8px;
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 32px;
  text-align: left;
  line-height: 44px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
}

.compassion h5 {
  text-align: center;
  font-family: "Roboto Condensed";
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #161722;
}
.compassion h3 {
  margin-top: 16px;
  margin-bottom: 32px;
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
}
.compassion p {
  max-width: 846px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto Condensed";
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #161722;
  opacity: 0.78;
}

.readmore {
  display: flex;
  justify-content: center;
  gap: 24px;
}
@media (max-width: 800px) {
  .readmore {
    flex-wrap: wrap;
  }
}
.readmore .readmore__img {
  margin-top: 104px;
  margin-bottom: 256px;
}
.readmore .readmore__img img {
  width: 100%;
}
.readmore .readmore__img-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 64px;
}
.readmore .readmore__img-btn img {
  width: 100%;
}
.readmore .readmore__img-btn a {
  padding: 24px 64px;
  margin-bottom: 72px;
  padding: 24px 64px;
  border-radius: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  background-color: #ffd2a4;
  color: #1c1d28;
}
.readmore .readmore__img-btn a:hover {
  background: #f2c79b;
}

.benefits {
  background: #f5f2f0;
}

.benefit__wrapper h5 {
  padding-top: 128px;
  font-family: "Roboto Condensed";
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #161722;
}
.benefit__wrapper h3 {
  margin-top: 20px;
  margin-bottom: 64px;
  margin-left: auto;
  margin-right: auto;
  max-width: 432px;
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
}
.benefit__wrapper .benefit__content {
  display: flex;
  justify-content: space-between;
  position: relative;
  gap: 24px;
}
@media (max-width: 1150px) {
  .benefit__wrapper .benefit__content {
    flex-wrap: wrap;
  }
}
@media (max-width: 700px) {
  .benefit__wrapper .benefit__content {
    flex-direction: column;
  }
}
.benefit__wrapper .benefit__content .benefit__card {
  margin-bottom: 128px;
  box-shadow: 5px 5px 20px black;
  overflow: hidden;
  transition: 0.5s;
}
.benefit__wrapper .benefit__content .benefit__card:hover {
  cursor: pointer;
}
.benefit__wrapper .benefit__content .benefit__card:hover .benefit__intro {
  height: 240px;
}
.benefit__wrapper .benefit__content .benefit__card:hover .benefit__intro p {
  opacity: 1;
  visibility: visible;
}
.benefit__wrapper .benefit__content .benefit__card img {
  background: transparent;
  border-radius: 5px;
  width: 100%;
  transform: 1s;
}
.benefit__wrapper .benefit__content .benefit__card .benefit__intro {
  margin-bottom: 120px;
  height: 100px;
  padding: 6px;
  position: absolute;
  bottom: 5px;
  background: rgba(27, 27, 27, 0.299);
  transition: 0.5s;
}
.benefit__wrapper .benefit__content .benefit__card .benefit__intro h3 {
  max-width: 238px;
  text-align: left;
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #ffffff;
}
.benefit__wrapper .benefit__content .benefit__card .benefit__intro p {
  max-width: 238px;
  margin-left: 32px;
  font-family: "Roboto Condensed";
  font-size: 16px;
  visibility: hidden;
  opacity: 0;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.78;
}

.container h5 {
  padding-top: 128px;
  margin-bottom: 16px;
  text-align: center;
  font-family: "Roboto Condensed";
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #161722;
}
.container h3 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 64px;
  max-width: 554px;
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
}
.container .sermons__card {
  display: flex;
}
@media (max-width: 1200px) {
  .container .sermons__card {
    flex-wrap: wrap;
  }
}
.container .sermons__card .sermons__aside {
  position: relative;
  background: #fff5eb;
  width: 512px;
  padding: 61px 90px;
}
.container .sermons__card .sermons__aside h5 {
  padding-top: 0px;
  text-align: left;
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  background: linear-gradient(109.61deg, #a54e2b -53.83%, #dc9853 62.61%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.container .sermons__card .sermons__aside h3 {
  max-width: 210px;
  text-align: left;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 0;
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
}
.container .sermons__card .sermons__aside p {
  max-width: 256px;
  font-family: "Roboto Condensed";
  font-size: 16px;
  line-height: 24px;
  color: #161722;
  opacity: 0.78;
}
.container .sermons__card .sermons__aside .sermons__intro {
  display: flex;
  align-items: center;
  gap: 16px;
}
.container .sermons__card .sermons__aside .sermons__intro h4 {
  margin-top: 32px;
  max-width: 137px;
  font-family: "Roboto Condensed";
  font-size: 16px;
  line-height: 24px;
  color: #161722;
}
.container .sermons__card .sermons__aside a {
  position: relative;
  bottom: -56px;
  padding: 24px 64px;
  background-color: #161722;
  border-radius: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  color: #ffd2a4;
}
.container .sermons__card .sermons__aside a:hover {
  color: #fff;
}
.container .sermons__card .sermons__aside .sermons__data {
  position: absolute;
  top: 32px;
  right: 32px;
}
.container .sermons__card .sermons__aside .sermons__data h2 {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
}
.container .sermons__card .sermons__aside .sermons__data h3 {
  position: absolute;
  right: 1px;
  margin: 0;
  font-family: "Roboto Condensed";
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #161722;
}
.container .sermons__card .sermons__bside img {
  width: 100%;
}
.container .sermons__view {
  margin-top: 48px;
  margin-bottom: 128px;
  display: flex;
  justify-content: end;
}
.container .sermons__view .class {
  color: var(--black, #161722);
  font-size: 24px;
  font-family: Roboto Condensed;
  line-height: 32px;
}
.container .sermons__view .class::after {
  content: "→";
  font-size: 24px;
  color: var(--black, #161722);
}

.around {
  background: url(../images/home/around\ us.png) no-repeat;
  background-size: cover;
  background-position: center 0;
  height: 736px;
  display: flex;
  align-items: center;
}
.around .around__card {
  padding-left: 48px;
  padding-top: 72px;
  padding-bottom: 80px;
  padding-right: 48px;
  background: #ffffff;
  background: linear-gradient(180deg, rgb(254, 254, 254) 95%, rgb(255, 210, 164) 90%);
  display: flex;
  gap: 117px;
  align-items: center;
}
@media (max-width: 900px) {
  .around .around__card {
    flex-direction: column;
  }
}
.around .around__card h2 {
  max-width: 368px;
  color: var(--black, #161722);
  font-size: 48px;
  font-family: Roboto Condensed;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -0.48px;
  text-transform: uppercase;
}
.around .around__card p {
  margin-bottom: 32px;
  max-width: 302px;
  color: var(--black, #161722);
  font-size: 16px;
  font-family: Roboto Condensed;
  line-height: 24px;
  opacity: 0.7799999714;
}
.around .around__card a {
  padding: 24px 64px;
  border-radius: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  background-color: #ffd2a4;
  color: #1c1d28;
}
.around .around__card a:hover {
  background: #f2c79b;
}

.blog h5 {
  text-align: center;
  color: var(--black, #161722);
  font-size: 16px;
  font-family: Roboto Condensed;
  text-transform: uppercase;
}
.blog h3 {
  color: var(--black, #161722);
  text-align: center;
  font-size: 48px;
  font-family: Roboto Condensed;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -0.48px;
  text-transform: uppercase;
}
.blog .blog__card {
  margin-bottom: 128px;
  display: flex;
  gap: 24px;
}
@media (max-width: 1150px) {
  .blog .blog__card {
    flex-wrap: wrap;
  }
}
@media (max-width: 75px) {
  .blog .blog__card {
    flex-direction: column;
    text-align: center;
  }
}
.blog .blog__card .blog__intro {
  padding: 48px 32px;
  background: var(--light-orange, #fff5eb);
  transition: 0.5s;
}
.blog .blog__card .blog__intro:hover {
  cursor: pointer;
  background: linear-gradient(180deg, rgb(250, 242, 242) 95%, rgb(255, 210, 164) 90%);
}
.blog .blog__card .blog__intro h5 {
  padding-top: 0;
  color: rgb(165, 78, 43);
  text-align: left;
  font-size: 12px;
  font-family: Roboto Condensed;
  font-weight: 700;
  letter-spacing: 0.96px;
  text-transform: uppercase;
}
.blog .blog__card .blog__intro h3 {
  margin-left: 0;
  max-width: 218px;
  margin-bottom: 0;
  line-height: 25px;
  text-align: left;
  color: var(--black, #161722);
  font-size: 24px;
  font-family: Roboto Condensed;
  font-weight: 700;
  text-transform: uppercase;
}
.blog .blog__card .blog__intro p {
  margin-top: 16px;
  margin-bottom: 48px;
  max-width: 238px;
  color: var(--black, #161722);
  font-size: 16px;
  font-family: Roboto Condensed;
  line-height: 24px;
  opacity: 0.7799999714;
}
.blog .blog__card .blog__intro .blog__intro__name {
  color: var(--black, #161722);
  font-size: 18px;
  font-family: Roboto Condensed;
  gap: 4px;
}

.footer {
  background: #000;
}
.footer .footer__container {
  display: flex;
  justify-content: space-between;
  padding-top: 64px;
}
@media (max-width: 1150px) {
  .footer .footer__container {
    flex-wrap: wrap;
  }
}
.footer .footer__container .footer__left h5 {
  padding-top: 27px;
  padding-bottom: 32px;
  font-family: "Roboto Condensed";
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
}
.footer .footer__container .footer__left address {
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: "Roboto Condensed";
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
}
.footer .footer__container .footer__left a {
  font-family: "Roboto Condensed";
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
}
.footer .footer__container .footer__center {
  display: flex;
  flex-direction: column;
}
.footer .footer__container .footer__center h5 {
  padding-top: 10px;
  font-family: "Roboto Condensed";
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #ffffff;
}
.footer .footer__container .footer__center a {
  margin-top: 24px;
  font-family: "Roboto Condensed";
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.78;
}
.footer .footer__container .footer__connect h5 {
  padding-top: 10px;
  margin-bottom: 20px;
  font-family: "Roboto Condensed";
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.footer .footer__container .footer__connect a {
  margin-right: 20px;
  color: #ffd2a4;
  transition: 0.5s;
}
.footer .footer__container .footer__connect a i {
  transition: 0.5s;
}
.footer .footer__container .footer__connect a i:hover {
  transform: scale(1.9);
}
.footer .footer__container .footer__right h3 {
  max-width: 377px;
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #ffffff;
}
@media (max-width: 600px) {
  .footer .footer__container .footer__right h3 {
    max-width: 250px;
    text-align: left;
    margin: 0;
    font-size: 20px;
  }
}
.footer .footer__container .footer__right .footer__input {
  position: relative;
  padding-bottom: 64px;
}
.footer .footer__container .footer__right .footer__input input {
  padding: 10px;
  width: 512px;
  height: 64px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 12px;
  font-family: "Roboto Condensed";
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.8;
}
.footer .footer__container .footer__right .footer__input button {
  position: absolute;
  right: 0;
  padding: 22px 64px;
  background-color: #ffd2a4;
  border-radius: 12px;
  font-family: "Roboto Condensed";
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #1c1d28;
}
@media (max-width: 600px) {
  .footer .footer__container .footer__right .footer__input button {
    position: static;
    padding: 20px 30px;
    text-align: left;
    left: 0;
    bottom: 25px;
  }
}