@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

input:focus {
  outline: none;
}

.container {
  max-width: 1320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.container-sm {
  max-width: 1064px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

header {
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #000;
}
header .container .navbar {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .navbar .navbar__link__logo {
  display: flex;
  align-items: center;
}
@media (max-width: 600px) {
  header .container .navbar .navbar__link__logo img {
    width: 100%;
  }
}
header .container .navbar .navbar__link__logo .navbar__link {
  display: flex;
  margin-left: 130px;
  gap: 48px;
}
@media (max-width: 700px) {
  header .container .navbar .navbar__link__logo .navbar__link {
    display: none;
  }
}
header .container .navbar .navbar__link__logo .navbar__link li {
  display: flex;
  cursor: pointer;
  position: relative;
}
header .container .navbar .navbar__link__logo .navbar__link li::after {
  content: "";
  width: 100%;
  height: 3px;
  background: #ffd2a4;
  border-radius: 10%;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: center;
  position: absolute;
  left: 0;
  bottom: -10px;
}
header .container .navbar .navbar__link__logo .navbar__link li:hover::after {
  transform: scaleX(1);
  transform-origin: center;
  width: 100%;
}
header .container .navbar .navbar__link__logo .navbar__link a {
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.9;
}
header .container .navbar .navbar__btn {
  padding: 24px 64px;
  border-radius: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  background-color: #ffd2a4;
  color: #1c1d28;
  font-size: "Roboto Condensed";
}
header .container .navbar .navbar__btn:hover {
  background: #f2c79b;
}
@media (max-width: 900px) {
  header .container .navbar .navbar__btn {
    display: none;
  }
}
header button {
  display: none;
  background: transparent;
  border: none;
  color: #beaca6;
  font-size: 45px;
}
@media (max-width: 800px) {
  header button {
    display: block;
  }
}

.sermon {
  background-image: url(../images/sermons-bg-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 419px;
}
.sermon h4 {
  padding: 160px 0px 20px;
  font-weight: 700;
  font-size: 16px;
  color: #161722;
}
.sermon h2 {
  font-weight: 700;
  font-size: 48px;
  text-transform: uppercase;
  color: #161722;
}

.upcoming h5 {
  margin-top: 130px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #161722;
  text-transform: uppercase;
}
.upcoming h2 {
  margin: 16px auto;
  max-width: 554px;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.upcoming .upcoming__total-wrap {
  display: flex;
}
.upcoming .upcoming__total-wrap .upcoming__aside {
  position: relative;
  padding: 61px 90px;
  background-color: #fff5eb;
}
.upcoming .upcoming__total-wrap .upcoming__aside .upcoming__date {
  position: absolute;
  top: 32px;
  right: 32px;
  left: 371px;
}
.upcoming .upcoming__total-wrap .upcoming__aside .upcoming__date h6 {
  font-size: 24px;
  font-weight: 700;
}
.upcoming .upcoming__total-wrap .upcoming__aside .upcoming__date p {
  font-weight: 400;
  font-size: 16px;
  color: #161722;
}
.upcoming .upcoming__total-wrap .upcoming__aside h4 {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 12px;
  color: #dc9853;
  text-transform: uppercase;
}
.upcoming .upcoming__total-wrap .upcoming__aside h3 {
  margin-bottom: 16px;
  width: 210px;
  font-size: 24px;
  font-weight: 700;
  color: #161722;
  text-transform: uppercase;
}
.upcoming .upcoming__total-wrap .upcoming__aside p {
  margin-bottom: 32px;
  width: 255px;
  font-size: 16px;
  font-weight: 400;
  color: #161722;
}
.upcoming .upcoming__total-wrap .upcoming__time {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.upcoming .upcoming__total-wrap .upcoming__time P {
  margin-bottom: 5px;
  width: 137px;
}
.upcoming .upcoming__total-wrap button {
  border-radius: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  padding: 24px 64px;
  background-color: #161722;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  color: #ffd2a4;
}
.upcoming .upcoming__total-wrap button:hover {
  color: #fff;
}
.upcoming .upcoming__bside img {
  width: 100%;
}
.upcoming .upcoming__view {
  margin-top: 48px;
  display: flex;
  gap: 15px;
}
.upcoming .upcoming__view a {
  color: #161722;
}
.upcoming .upcoming__view a:hover {
  transform: scale(1.2);
}

@media (max-width: 1270px) {
  .container {
    padding: 0 20px;
  }
  .upcoming__total-wrap {
    align-items: center;
    flex-direction: column;
  }
  .upcoming__total-wrap .upcoming__aside {
    padding: 37px 40px;
    justify-content: center;
  }
  .upcoming__total-wrap .upcoming__aside h5 {
    text-align: center;
  }
  .upcoming__total-wrap .upcoming__aside .upcoming__text {
    margin: 0 auto;
    text-align: center;
  }
  .upcoming__btn {
    text-align: center;
  }
  .upcoming__date .upcoming__date-text {
    margin: 2px 3px;
  }
}
#events h2 {
  margin-top: 128px;
  height: 64px;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}
#events .events__total-card {
  margin-top: 64px;
  display: flex;
  gap: 24px;
}
#events .events__total-card .events_aside {
  margin-bottom: 128px;
  position: relative;
  padding: 80px 40px;
  background-color: #fff5eb;
}
#events .events__total-card .events_aside::after {
  content: "";
  width: 100%;
  height: 10px;
  background: #ffd2a4;
  border-radius: 10%;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: center;
  position: absolute;
  left: 0;
  bottom: -10px;
}
#events .events__total-card .events_aside:hover::after {
  transform: scaleX(1);
  transform-origin: center;
  width: 100%;
}
#events .events__total-card .events_aside .events__date {
  position: absolute;
  top: 24px;
  right: 29px;
}
#events .events__total-card .events_aside .events__date h6 {
  font-size: 24px;
  font-weight: 700;
}
#events .events__total-card .events_aside .events__date p {
  font-weight: 400;
  font-size: 16px;
  color: #161722;
}
#events .events__total-card .events_aside h5 {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 12px;
  color: #dc9853;
  text-transform: uppercase;
}
#events .events__total-card .events_aside h3 {
  margin-bottom: 16px;
  width: 210px;
  font-size: 24px;
  font-weight: 700;
  color: #161722;
  text-transform: uppercase;
}
#events .events__total-card .events_aside .eventst__text {
  margin-bottom: 32px;
  width: 255px;
  font-size: 16px;
  font-weight: 400;
  color: #161722;
}
#events .events__total-card .events_aside .events__time {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}

@media (max-width: 1170px) {
  .container {
    padding: 0 0px;
  }
  .container h2 {
    margin: 0 auto;
    text-align: center;
  }
  .events__total-card {
    align-items: center;
    flex-direction: column;
  }
  .events__total-card .events__aside {
    justify-content: center;
  }
  .events__total-card .events__aside h5 {
    text-align: center;
  }
  .events__total-card .events__aside .eventst__text {
    margin: 0 auto;
    text-align: center;
  }
}
.footer {
  background: #000;
}
.footer .footer__container {
  display: flex;
  justify-content: space-between;
  padding-top: 64px;
}
@media (max-width: 1150px) {
  .footer .footer__container {
    flex-wrap: wrap;
  }
}
.footer .footer__container .footer__left h5 {
  padding-top: 27px;
  padding-bottom: 32px;
  font-family: "Roboto Condensed";
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
}
.footer .footer__container .footer__left address {
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: "Roboto Condensed";
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
}
.footer .footer__container .footer__left a {
  font-family: "Roboto Condensed";
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
}
.footer .footer__container .footer__center {
  display: flex;
  flex-direction: column;
}
.footer .footer__container .footer__center h5 {
  padding-top: 10px;
  font-family: "Roboto Condensed";
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #ffffff;
}
.footer .footer__container .footer__center a {
  margin-top: 24px;
  font-family: "Roboto Condensed";
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.78;
}
.footer .footer__container .footer__connect h5 {
  padding-top: 10px;
  margin-bottom: 20px;
  font-family: "Roboto Condensed";
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.footer .footer__container .footer__connect a {
  margin-right: 20px;
  color: #ffd2a4;
  transition: 0.5s;
}
.footer .footer__container .footer__connect a i {
  transition: 0.5s;
}
.footer .footer__container .footer__connect a i:hover {
  transform: scale(1.9);
}
.footer .footer__container .footer__right h3 {
  max-width: 377px;
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #ffffff;
}
@media (max-width: 600px) {
  .footer .footer__container .footer__right h3 {
    max-width: 250px;
    text-align: left;
    margin: 0;
    font-size: 20px;
  }
}
.footer .footer__container .footer__right .footer__input {
  position: relative;
  padding-bottom: 64px;
}
.footer .footer__container .footer__right .footer__input input {
  padding: 10px;
  width: 512px;
  height: 64px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 12px;
  font-family: "Roboto Condensed";
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.8;
}
.footer .footer__container .footer__right .footer__input button {
  position: absolute;
  right: 0;
  padding: 22px 64px;
  background-color: #ffd2a4;
  border-radius: 12px;
  font-family: "Roboto Condensed";
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #1c1d28;
}
@media (max-width: 600px) {
  .footer .footer__container .footer__right .footer__input button {
    position: static;
    padding: 20px 30px;
    text-align: left;
    left: 0;
    bottom: 25px;
  }
}